
<body>
    <html>
        <head>
            <meta charset="UTF8"/>
            <title>Movies Home</title>
        </head>
        <body>
            <h1>Welcome to the Movie Browser!</h1>
            <div>Here you can explore movies reviewed by the NYT and
                view additional details and summaries. 
                Choose your own
                adventure! 
            </div>
        </body>
        </html>




    <form action="/handle_form" method="POST">
      <p>
          But first, pick a year (between 1980 and 2019) that you want to explore!
           <input name="year" type="text"/><br/><br/><br/>
      </p>
  
      <input type="submit" value="Submit Form"/>
    </form>  
</body>